
.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header_text p{
    margin-top: 10px;
    color: #475467;
}
.header_text h2{
    font-size: 2rem;
    color: #101828;
}
.row-fields{
   display: flex;
   width: 100%;
}

.row-fields div{
    margin: 10px 10px 10px 0;
}

/* Form Styling */
.form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 32rem;
}

input:focus{
    box-shadow: 0px 0px 0px 4px #D1E9FF !important;
}
textarea:focus{
    box-shadow: 0px 0px 0px 4px #D1E9FF !important;
}

input{
  border-radius: 8px !important;
  outline: none;
  width: 14.92rem;
  height: 1.5rem;
  padding: 8px 5px;
  color: #475467;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #D0D5DD !important;
}
input[type="email"] {
    width: 97.5%;
}

input[type="checkbox"]{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 10px !important;
}

textarea{
  border-radius:8px !important;
  outline: none;
  height: 5rem;
  padding: 12px 5px;
  color: #728096;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #D0D5DD !important;
  resize: none;
}
::placeholder{
   color: #728096;
}
.field{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}
.field label{
    margin-bottom: 10px;
}

.agree{
    margin-top: 15px;
    display: flex;
}
.agree input{
    margin-right: 5px;
}
.agree label{
    font-size: 0.9rem;
    color: #475467;
}
.btn_submit{
  height: 42px;
  width: 100%;
  border-radius: 8px;
  background: #1470ef;
  box-shadow: 0px 1px 2px 0px #1018280D;
  color: #ffffff;
  border: 1px solid #1470ef;
  margin-top: 18px;
  cursor: pointer;
}
.btn_submit:focus{
    box-shadow: 0px 0px 0px 4px #D1E9FF;
}

@media screen and (max-width: 850px) {
    .contact_form{
        justify-content: unset;
        padding-top: 3rem;
        min-height: auto;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
    }
    .row-fields{
        flex-direction: column;
        column-gap: 15px;
    }
    .header_text{
      padding: unset;
      align-items: flex-start;
    }
    .agree {
        align-items: flex-start;
    }
    .field{
        width: 100%;
    }
    input{
        width: 100%;
    }
    input[type="email"]{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .btn_submit{
        width: 100%;
    }
}