.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .profile_wrapper{
    display: flex;
    justify-content: initial;
}
.profile_wrapper .all_btn{
   position: absolute;
   right: 30px;
   top: 8.83%;
}
.all_btn .ellipse_btn{
    display: none;
}
.profile{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}
.profile img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 20rem;
}
.profile h2{
   color: #667085;
}

.link_btn{
  background: #EAECF0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #101828;
  text-decoration: none;
  text-align: center;
  width: 38rem;
  height: 3.5rem;
  margin-top: 2rem;
  border-radius: 5px;
}
.link_btn:hover{
    background: #667085;
    color: #fff;
    transition: .4s;
}
.social__icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__icons a{
    margin: 10px;
}

.footer{
    padding: 0 7rem;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 2rem 0;
    border-top: 1px solid #eee;
}

.main-footer h2{
    font-size: 1.1rem;
    color: #667085;
}

@media screen and (max-width: 700px) {
 .link_btn{
  width: 20rem;
  height: 4rem;
  margin-top: 2rem;
  border-radius: 5px;
 }
  .all_btn .ellipse_btn{
    display: block;
}
  .all_btn .share_btn{
    display: none;
}
}



@media screen and (max-width: 850px) {
.footer{
    padding: 0 1rem;
}
.main-footer *{
    margin: 0.5rem;
}
.main-footer{
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
}
.main-footer img{
    width: 9rem;
}
.main-footer h2{
    font-size: 1rem;
}
}