*{ 
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link_btn{
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #101828;
  text-decoration: none;
  text-align: center;
  width: 34rem;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 5px;
}
